// Color
$text-color: #1a1a1a;
$inverted-text-color: #d6d6d6;
$background-color: #dbef01;
$accent-color: #141414;
$muted-color: #979797;
$border-color: #444444;

// Shapes
$general-radius: 0px;

// Layout
$section-margin: min(80%, 1200px);
$bp-names: '', '-md', '-lg';
$bp-sizes: 0px, 540px, 960px;
$spacing-sizes: 0rem, 0.5rem, 1rem, 1.5rem, 2rem, 2.5rem, 3rem, 4rem, 5rem;
