<h1>Login</h1>
<p>{{error}}</p>
<form action="/auth/login" method="post">
    <label >User: <input type="email" name="email" id="email" required autocomplete="email"></label>
    <label >Password: <input type="password" name="password" id="password" required autocomplete="current-password"></label>
    <button type="submit">LogIn</button>
</form>